@font-face {
	font-family: 'Rubik';
	font-style: normal;
  font-display: swap;
	src: url('/assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-weight: 100;
	font-style: italic;
  font-display: swap;
	src: url('/assets/fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
}